<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.worbots.worbots4145.worbotsscouting">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.robotics.worbots4145.worbotsscouting.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.robotics.worbots4145.worbotsscouting.ScoutingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.robotics.worbots4145.worbotsscouting.CompetitionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.robotics.worbots4145.worbotsscouting.AdminActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.robotics.worbots4145.worbotsscouting.EndMatchActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.robotics.worbots4145.worbotsscouting.PitActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>